@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
a.instagram {
  background: url(../imagenes/instagram.png);
}

a.twitter {
  background: url(../imagenes/twitter.png);
}

a.facebook {
  background: url(../imagenes/facebook.png);
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 2500px 40px;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  background-color: black;
}
@media (max-width: 576px) {
  body {
    grid-template-rows: 100px 1950px 40px;
  }
}

header {
  background: rgba(0, 0, 0, 0.938);
  width: 100%;
  position: sticky;
  top: 0px;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header img {
  margin-left: 50px;
}
header h1 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  margin-right: 300px;
  margin-left: -360px;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 30px;
}
header ul li {
  padding: 0px 12px;
  border-right: 1px solid rgb(69, 69, 69);
}
header ul li:last-child {
  border-right: 0px;
}
header ul li a {
  color: red;
  text-decoration: none;
}
header ul li a:hover {
  color: #fff;
}
@media (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header img {
    width: 30px;
    height: 25px;
    margin-top: 40px;
    margin-right: 250px;
  }
  header h1 {
    font-size: 20px;
    margin-right: 0px;
    margin-left: -20px;
    margin-top: -25px;
  }
  header ul {
    margin-top: -30px;
    font-size: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya";
}

main {
  background-image: linear-gradient(to left, black, rgb(192, 7, 7), black);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat;
  grid-area: main;
}
main h3 {
  color: #fdc6c1;
  font-family: "Bebas Neue";
  font-size: 58px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 576px) {
  main h3 {
    font-size: 30px;
  }
}

footer {
  background-color: rgb(25, 1, 1);
  width: 100%;
  grid-area: footer;
}
footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer section p {
  color: #fff;
}
footer section div {
  margin-left: 400px;
}
footer section div img {
  filter: invert(100%) sepia(5%) saturate(361%) hue-rotate(212deg) brightness(116%) contrast(87%);
  width: 26px;
  padding: 0px 4px;
  align-items: center;
}
footer .footerInicio img {
  width: 30px;
}
footer a.instagram {
  background: url(../imagenes/instagram.png);
}
footer a.twitter {
  background: url(../imagenes/twitter.png);
}
footer a.facebook {
  background: url(../imagenes/facebook.png);
}
@media (max-width: 576px) {
  footer {
    font-size: 10px;
  }
  footer section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer section p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  footer section div {
    margin-left: 50px;
    margin-top: 8px;
  }
  footer section div img {
    width: 20px;
    text-align: center;
  }
}

main .cuadro-fondo {
  background-color: rgba(0, 0, 0, 0.663);
  width: 100%;
  height: 650px;
  margin-top: 70px;
}
main .cuadro-fondo #carouselExampleCaptions {
  height: 100%;
  width: 1400px;
  margin-left: 250px;
}
main .cuadro-fondo #carouselExampleCaptions #primer-juego {
  height: 100%;
}
main .cuadro-fondo #carouselExampleCaptions h5 {
  font-family: "Bebas Neue";
  font-size: 20px;
}
main .cuadro-fondo #carouselExampleCaptions .textPrimerJuego {
  align-items: center;
  font-family: "Alegreya";
}
main .cuadro-fondo #carouselExampleCaptions .textoNegro {
  color: black;
}
main .cuadro-fondo #carouselExampleCaptions .carousel-control-prev {
  background-color: black;
  width: 50px;
}
main .cuadro-fondo #carouselExampleCaptions .carousel-control-next {
  background-color: black;
  width: 50px;
}
main section .titulos {
  color: #fdc6c1;
  font-family: "Bebas Neue";
  font-size: 60px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
main section .parrafo1 {
  color: #fff;
  font-size: 20px;
  margin-top: 110px;
  margin-left: 50px;
  text-transform: uppercase;
}
main .noticia {
  width: 40%;
  margin-left: 100px;
}
main .noticia .primeraNoticia img {
  width: 100%;
}
main .noticia .primeraNoticia p {
  color: #fff;
}
main .noticia2 {
  width: 40%;
  margin-left: 950px;
  margin-top: -515px;
}
main .noticia2 .segundaNoticia {
  margin-top: 0px;
}
main .noticia2 .segundaNoticia img {
  width: 100%;
}
main .noticia2 .segundaNoticia p {
  color: #fff;
}
main .noticia3 {
  width: 40%;
  margin-left: 100px;
  margin-top: 100px;
}
main .noticia3 .terceraNoticia {
  margin-top: 0px;
}
main .noticia3 .terceraNoticia img {
  width: 100%;
}
main .noticia3 .terceraNoticia p {
  color: #fff;
}
main .noticia4 {
  width: 40%;
  margin-left: 950px;
  margin-top: -540px;
}
main .noticia4 .cuartaNoticia {
  margin-top: 0px;
}
main .noticia4 .cuartaNoticia img {
  width: 100%;
}
main .noticia4 .cuartaNoticia p {
  color: #fff;
}
@media (max-width: 576px) {
  main .cuadro-fondo {
    background-color: transparent;
    width: 100%;
    height: 250px;
  }
  main .cuadro-fondo #carouselExampleCaptions {
    width: 100%;
    margin-left: 0px;
  }
  main .cuadro-fondo #carouselExampleCaptions .carousel-control-prev {
    background-color: transparent;
    width: 20px;
  }
  main .cuadro-fondo #carouselExampleCaptions .carousel-control-next {
    background-color: transparent;
    width: 20px;
  }
  main section .titulos {
    font-size: 40px;
  }
  main section .parrafo1 {
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
  }
  main .noticia {
    width: 100%;
    margin-left: 0px;
  }
  main .noticia img {
    margin-top: -15px;
  }
  main .noticia p {
    font-size: small;
    text-align: center;
  }
  main .noticia2 {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
  }
  main .noticia2 img {
    margin-top: -15px;
  }
  main .noticia2 p {
    font-size: small;
    text-align: center;
  }
  main .noticia3 {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
  }
  main .noticia3 img {
    margin-top: -15px;
  }
  main .noticia3 p {
    font-size: small;
    text-align: center;
  }
  main .noticia4 {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
  }
  main .noticia4 img {
    margin-top: -15px;
  }
  main .noticia4 p {
    font-size: small;
    text-align: center;
  }
}

main .btn-group {
  font-family: "Bebas Neue";
  font-size: 20px;
  margin-left: 150px;
  margin-top: 100px;
}
main .exitosos {
  width: 50%;
  margin-left: 500px;
  margin-top: 50px;
}
main .exitosos .juegoExitosos1 p {
  color: #fff;
  font-size: large;
}
main .exitosos .juegoExitosos1 img {
  width: 100%;
}
@media (max-width: 576px) {
  main .btn-group {
    font-size: 10px;
    margin-left: 50px;
    margin-top: 50px;
  }
  main .exitosos {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
  }
  main .exitosos .juegoExitosos1 p {
    font-size: small;
    text-align: center;
  }
}

main .btn-group {
  font-family: "Bebas Neue";
  font-size: 20px;
  margin-left: 150px;
  margin-top: 100px;
}
main .exitosos1 {
  width: 50%;
  margin-left: 500px;
  margin-top: 50px;
}
main .exitosos1 .juegoExitosos1 p {
  color: #fff;
  font-size: large;
}
main .exitosos1 .juegoExitosos1 img {
  width: 100%;
}
@media (max-width: 576px) {
  main .btn-group {
    font-size: 10px;
    margin-left: 50px;
    margin-top: 50px;
  }
  main .exitosos1 {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
  }
  main .exitosos1 .juegoExitosos1 p {
    font-size: small;
    text-align: center;
  }
}

main .logosPlataformas {
  margin-top: 50px;
  margin-left: 820px;
}
main .logosPlataformas a {
  padding: 0px 4px;
}
main .consolaPc1 {
  width: 40%;
  margin-top: 30px;
  margin-left: 120px;
}
main .consolaPc1 .xbox p {
  color: white;
  font-size: large;
}
main .consolaPc1 .xbox img {
  width: 100%;
}
main .consolaPc2 {
  width: 40%;
  margin-top: -570px;
  margin-left: 970px;
}
main .consolaPc2 .epic p {
  color: white;
  font-size: large;
}
main .consolaPc2 .epic img {
  width: 100%;
  margin-top: 30px;
}
main .consolaPc3 {
  width: 40%;
  margin-top: 80px;
  margin-left: 120px;
}
main .consolaPc3 .steam p {
  color: white;
  font-size: large;
}
main .consolaPc3 .steam img {
  width: 100%;
}

main #proximamente {
  background-image: url("https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_656/b_white/f_auto/q_auto/ncom/software/switch/70010000063714/2ac2500b2aae03a57bfe8cc4b41a1225305f043f9346f1bf0c4b6e78d81efebb");
  width: 640px;
  height: 320px;
  margin-left: 340px;
}
main #proximamente .textoJuegoNintendo1 {
  color: #fff;
  margin-top: 100px;
  margin-right: -350px;
  padding-top: 10px;
  padding-left: 660px;
}
main #proximamente2 {
  background-image: url("https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_656/b_white/f_auto/q_auto/ncom/software/switch/70010000005308/f57f2d528fc32fd3780981575d15545e0c64a82bd764d55aa3f77716102e0cc6");
  width: 640px;
  height: 320px;
  margin-top: 150px;
  margin-left: 850px;
}
main #proximamente2 .textoJuegoNintendo2 {
  color: #fff;
  margin-top: 100px;
  margin-left: -450px;
  padding-right: 660px;
}
main #proximamente3 {
  background-image: url("https://nintenduo.com/wp-content/uploads/2023/05/Mortal-Kombat-1-Switch-01.webp");
  background-size: cover;
  width: 640px;
  height: 320px;
  margin-top: 200px;
  margin-left: 640px;
}
main #proximamente3 .textoJuegoNintendo3 {
  color: #fff;
  padding-top: 330px;
}
@media (max-width: 576px) {
  main #proximamente {
    width: 100%;
    height: 200px;
    margin-left: 0px;
    background-size: cover;
  }
  main #proximamente .textoJuegoNintendo1 {
    margin-left: 0px;
    margin-top: 100px;
    padding-top: 230px;
    font-size: small;
  }
  main #proximamente2 {
    width: 100%;
    height: 200px;
    margin-left: 0px;
    background-size: cover;
  }
  main #proximamente2 .textoJuegoNintendo2 {
    margin-left: 0px;
    margin-top: 100px;
    padding-top: 230px;
    font-size: small;
  }
  main #proximamente3 {
    width: 100%;
    height: 200px;
    margin-left: 0px;
    background-size: cover;
  }
  main #proximamente3 .textoJuegoNintendo3 {
    margin-left: 0px;
    margin-top: 100px;
    padding-top: 230px;
    font-size: small;
  }
}

main .subtitulo {
  color: #fdc6c1;
  font-size: 30px;
  margin-left: 70px;
  margin-top: 70px;
}
main div .textsobreNost {
  color: #fff;
  text-align: start;
  font-family: "Alegreya";
  font-size: 20px;
  width: 800px;
  margin-left: 70px;
}
main .borrador {
  color: #fff;
  margin-left: 800px;
  margin-top: 100px;
}
main .pruebadeForo {
  margin-top: 50px;
  margin-left: 600px;
}
@media (max-width: 576px) {
  main .subtitulo {
    margin-left: 20px;
  }
  main div .textsobreNost {
    font-size: 15px;
    width: 100%;
    margin-left: 0px;
  }
  main .borrador {
    margin-left: 60px;
    margin-top: 100px;
  }
  main .pruebadeForo {
    width: 100%;
    margin-top: 300px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=app.css.map */
