@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
a.instagram {
  background: url(../imagenes/instagram.png);
}

a.twitter {
  background: url(../imagenes/twitter.png);
}

a.facebook {
  background: url(../imagenes/facebook.png);
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1800px);
    transform: translateX(-1800px);
  }
}
header {
  background: linear-gradient(to left, rgb(141, 4, 4), rgb(94, 1, 1), rgb(141, 4, 4));
  position: sticky;
  top: 0px;
  z-index: 2;
}
header .container-fluid h1 {
  font-family: "Roboto Condensed";
  font-size: 25px;
}
header .container-fluid .navbar-collapse {
  font-family: "Roboto Condensed";
  font-size: 18px;
  justify-content: end;
}
header .container-fluid .navbar-collapse a:hover {
  color: black;
}
@media (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header img {
    width: 30px;
    height: 25px;
    margin-top: 40px;
    margin-right: 250px;
  }
  header h1 {
    font-size: 20px;
    margin-right: 0px;
    margin-left: -20px;
    margin-top: -25px;
  }
  header ul {
    margin-top: -30px;
    font-size: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya";
}

footer {
  background: linear-gradient(to left, rgb(229, 3, 3), rgb(255, 157, 19), rgb(220, 2, 2));
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0px;
}
footer div p {
  margin-top: 7px;
  margin-left: 45%;
}
footer div .logos-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer div .logos-footer a {
  list-style-type: none;
}
footer div .logos-footer a img {
  padding: 0px 5px;
  width: 35px;
  height: 24px;
}
@media (max-width: 576px) {
  footer {
    font-size: 10px;
  }
  footer section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer section p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  footer section div {
    margin-left: 50px;
    margin-top: 8px;
  }
  footer section div img {
    width: 20px;
    text-align: center;
  }
}

#main-inicio {
  width: 100%;
  height: 3100px;
  color: #fff;
  background: linear-gradient(45deg, rgb(54, 4, 4), rgb(143, 3, 3), rgb(54, 4, 4), rgb(160, 2, 2));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 9s linear infinite;
}
#main-inicio .fondodelCarrusel {
  width: 100%;
  height: 470px;
  background: linear-gradient(to left, rgb(69, 2, 2), rgb(121, 3, 3), rgb(47, 2, 2));
}
#main-inicio .fondodelCarrusel #carouselExampleAutoplaying {
  width: 50%;
  height: 100%;
  margin: auto;
}
#main-inicio .fondodelCarrusel #carouselExampleAutoplaying .carousel-item {
  height: 100%;
}
#main-inicio .fondodelCarrusel #carouselExampleAutoplaying .carousel-item img {
  height: 100%;
}
#main-inicio .fondodelCarrusel #carouselExampleAutoplaying .carousel-control-prev {
  background-color: black;
  width: 3%;
}
#main-inicio .fondodelCarrusel #carouselExampleAutoplaying .carousel-control-next {
  background-color: black;
  width: 3%;
}
#main-inicio #noticias {
  background-color: white;
  width: 75%;
  height: 2300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
#main-inicio #noticias .titulo-principal {
  font-family: "Roboto Condensed";
  font-size: 45px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 480;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgb(255, 251, 245);
}
#main-inicio #noticias .noticia-principal {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-bottom: solid 1px rgba(145, 144, 144, 0.912);
}
#main-inicio #noticias .noticia-principal img {
  height: 400px;
}
#main-inicio #noticias .noticia-principal .texto-noticiaPrincipal {
  color: black;
}
#main-inicio #noticias .noticia-principal .texto-noticiaPrincipal h3 {
  font-family: "Roboto Condensed";
  font-size: 40px;
}
#main-inicio #noticias .noticia-principal .texto-noticiaPrincipal p {
  font-family: "Alegreya";
  font-size: 18px;
}
#main-inicio #noticias .noticia-principal .sub-texto {
  color: grey;
  font-size: small;
}
#main-inicio #noticias .noticias-contenedor {
  margin: 20px 200px 0px 200px;
  padding-bottom: 40px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid 1px grey;
}
#main-inicio #noticias .noticias-contenedor .noticias-tarjeta1 {
  width: 60%;
  padding: 30px 30px 50px 30px;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
}
#main-inicio #noticias .noticias-contenedor .noticias-tarjeta1 .sub-texto {
  color: rgb(121, 121, 121);
  font-size: small;
}
#main-inicio #noticias .noticias-contenedor .noticias-tarjeta1 img {
  width: 100%;
}
#main-inicio #noticias .noticias-contenedor .noticias-tarjeta1 h3 {
  color: black;
}
#main-inicio #noticias .noticias-contenedor .noticias-tarjeta1 p {
  color: black;
  font-family: "Alegreya";
  font-size: 16px;
}
#main-inicio #noticias .noticias-contenedor .sub-texto {
  color: rgb(127, 50, 50);
  font-size: small;
}
#main-inicio #noticias .noticias-contenedor2 {
  margin: 20px 200px 0px 200px;
  padding-bottom: 40px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#main-inicio #noticias .noticias-contenedor2 .noticias-tarjeta1 {
  width: 60%;
  padding: 30px 30px 50px 30px;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
}
#main-inicio #noticias .noticias-contenedor2 .noticias-tarjeta1 .sub-texto {
  color: rgb(121, 121, 121);
  font-size: small;
}
#main-inicio #noticias .noticias-contenedor2 .noticias-tarjeta1 img {
  width: 100%;
}
#main-inicio #noticias .noticias-contenedor2 .noticias-tarjeta1 h3 {
  color: black;
}
#main-inicio #noticias .noticias-contenedor2 .noticias-tarjeta1 p {
  color: black;
  font-family: "Alegreya";
  font-size: 16px;
}
#main-inicio #noticias .noticias-contenedor2 .sub-texto {
  color: rgb(127, 50, 50);
  font-size: small;
}
#main-inicio .slider {
  width: 100%;
  height: 220px;
  align-items: center;
  margin: auto;
  margin-top: 30px !important;
  overflow: hidden;
  background-color: transparent;
}
#main-inicio .slider .slide-track {
  display: flex;
  justify-content: center;
  animation: scroll 20s linear infinite;
  -webkit-animation: scroll 20s linear infinite;
  width: 3600px;
}
#main-inicio .slider .slide-track .slide {
  width: 200px;
  padding: 0px 30px;
}
#main-inicio .slider .slide-track .slide img {
  width: 100%;
}
@media (max-width: 576px) {
  #main-inicio .cuadro-fondo {
    background-color: transparent;
    width: 100%;
    height: 250px;
  }
  #main-inicio .cuadro-fondo #carouselExampleCaptions {
    width: 100%;
    margin-left: 0px;
  }
  #main-inicio .cuadro-fondo #carouselExampleCaptions .carousel-control-prev {
    background-color: transparent;
    width: 20px;
  }
  #main-inicio .cuadro-fondo #carouselExampleCaptions .carousel-control-next {
    background-color: transparent;
    width: 20px;
  }
  #main-inicio section .titulos {
    font-size: 40px;
  }
  #main-inicio section .parrafo1 {
    font-size: 18px;
    margin-top: 50px;
    margin-left: 15px;
  }
  #main-inicio .noticia {
    width: 100%;
    margin-left: 0px;
  }
  #main-inicio .noticia img {
    margin-top: -15px;
  }
  #main-inicio .noticia p {
    font-size: small;
    text-align: center;
  }
  #main-inicio .noticia2 {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
  }
  #main-inicio .noticia2 img {
    margin-top: -15px;
  }
  #main-inicio .noticia2 p {
    font-size: small;
    text-align: center;
  }
  #main-inicio .noticia3 {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
  }
  #main-inicio .noticia3 img {
    margin-top: -15px;
  }
  #main-inicio .noticia3 p {
    font-size: small;
    text-align: center;
  }
  #main-inicio .noticia4 {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
  }
  #main-inicio .noticia4 img {
    margin-top: -15px;
  }
  #main-inicio .noticia4 p {
    font-size: small;
    text-align: center;
  }
}

#main-exitos {
  height: 2900px;
  width: 100%;
  background: linear-gradient(45deg, rgb(54, 4, 4), rgb(143, 3, 3), rgb(54, 4, 4), rgb(160, 2, 2));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 9s linear infinite;
}
#main-exitos h3 {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 50px;
  font-weight: 450;
  color: #fdc6c1;
  padding-top: 60px;
}
#main-exitos .btn-group {
  margin-left: 60px;
  margin-top: 60px;
}
#main-exitos .btn-group .btn {
  font-family: "Alegreya";
  font-size: 18px;
}
#main-exitos .exitosos {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#main-exitos .exitosos .juegoExitosos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
}
#main-exitos .exitosos .juegoExitosos1 div {
  height: 100%;
}
#main-exitos .exitosos .juegoExitosos1 div img {
  border-top-left-radius: 15px;
  width: 100%;
  height: 100%;
}
#main-exitos .exitosos .juegoExitosos1 .relleno-juegos {
  width: 50%;
  margin-right: 15px;
}
#main-exitos .exitosos .juegoExitosos1 .relleno-juegos h4 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#main-exitos .exitosos .juegoExitosos1 .relleno-juegos p {
  font-family: "Roboto Condensed";
  text-align: center;
  color: black;
  font-size: 23px;
  margin-top: 30px;
}
#main-exitos .accordion {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#main-exitos .accordion .accordion-item {
  width: 100%;
}
#main-exitos .accordion .accordion-item .accordion-header button {
  height: 20px;
  background-color: white;
}
#main-exitos .accordion .accordion-item .accordion-collapse {
  height: 730px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .accordion-abajo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .accordion-abajo div {
  width: 40%;
  margin-top: 40px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .accordion-abajo div .titulos-subAccordion {
  color: black;
  font-weight: bold;
  font-family: "Roboto Condensed";
  font-size: 16px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .accordion-abajo div .parrafos-subtitos {
  margin-top: -10px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .img-abajo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .img-abajo img {
  width: 30%;
  padding: 0px 12px;
}
#main-exitos .relleno-juegos1 {
  width: 50%;
  margin-right: 15px;
}
#main-exitos .relleno-juegos1 h4 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#main-exitos .relleno-juegos1 p {
  font-family: "Roboto Condensed";
  text-align: center;
  color: black;
  font-size: 23px;
  margin-top: 30px;
}
#main-exitos .accordion-collapse .video-abajo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
#main-exitos .accordion-collapse .video-abajo iframe {
  width: 30%;
  padding: 0px 12px;
}
#main-exitos .exitosos3 {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#main-exitos .exitosos3 .juegoExitosos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
}
#main-exitos .exitosos3 .juegoExitosos1 div {
  height: 100%;
}
#main-exitos .exitosos3 .juegoExitosos1 div img {
  border-top-left-radius: 15px;
  width: 100%;
  height: 100%;
}
#main-exitos .exitosos3 .juegoExitosos1 .relleno-juegos {
  width: 50%;
  margin-right: 15px;
}
#main-exitos .exitosos3 .juegoExitosos1 .relleno-juegos h4 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#main-exitos .exitosos3 .juegoExitosos1 .relleno-juegos p {
  font-family: "Roboto Condensed";
  text-align: center;
  color: black;
  font-size: 23px;
  margin-top: 30px;
}
@media (max-width: 576px) {
  #main-exitos .btn-group {
    font-size: 10px;
    margin-left: 50px;
    margin-top: 50px;
  }
  #main-exitos .exitosos {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
  }
  #main-exitos .exitosos .juegoExitosos1 p {
    font-size: small;
    text-align: center;
  }
}

#main-exitos {
  height: 2900px;
  width: 100%;
  background: linear-gradient(45deg, rgb(54, 4, 4), rgb(143, 3, 3), rgb(54, 4, 4), rgb(160, 2, 2));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 9s linear infinite;
}
#main-exitos h3 {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 50px;
  font-weight: 450;
  color: #fdc6c1;
  padding-top: 60px;
}
#main-exitos .btn-group {
  margin-left: 60px;
  margin-top: 60px;
}
#main-exitos .btn-group .btn {
  font-family: "Alegreya";
  font-size: 18px;
}
#main-exitos .exitosos .juegoExitosos1 .relleno-juegosAmong {
  width: 40%;
  margin-top: 50px;
  margin-right: 60px;
}
#main-exitos .exitosos .juegoExitosos1 .relleno-juegosAmong h4 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#main-exitos .exitosos .juegoExitosos1 .relleno-juegosAmong p {
  font-family: "Roboto Condensed";
  text-align: center;
  color: black;
  font-size: 23px;
  margin-top: 30px;
}
#main-exitos .accordion .accordion-collapse {
  height: 730px;
}
#main-exitos .accordion .accordion-collapse .img-abajo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
#main-exitos .accordion .accordion-collapse .img-abajo img {
  width: 10%;
  height: 250px;
  padding: 0px 12px;
}

#main-exitos {
  height: 2900px;
  width: 100%;
  background: linear-gradient(45deg, rgb(54, 4, 4), rgb(143, 3, 3), rgb(54, 4, 4), rgb(160, 2, 2));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 9s linear infinite;
}
#main-exitos h3 {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 50px;
  font-weight: 450;
  color: #fdc6c1;
  padding-top: 60px;
}
#main-exitos .btn-group {
  margin-left: 60px;
  margin-top: 60px;
}
#main-exitos .btn-group .btn {
  font-family: "Alegreya";
  font-size: 18px;
}
#main-exitos .accordion-collapse .video-abajo2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
#main-exitos .accordion-collapse .video-abajo2 iframe {
  width: 30%;
  padding: 0px 12px;
}

#main-exitos {
  height: 2900px;
  width: 100%;
  background: linear-gradient(45deg, rgb(54, 4, 4), rgb(143, 3, 3), rgb(54, 4, 4), rgb(160, 2, 2));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 9s linear infinite;
}
#main-exitos h3 {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 50px;
  font-weight: 450;
  color: #fdc6c1;
  padding-top: 60px;
}
#main-exitos .btn-group {
  margin-left: 60px;
  margin-top: 60px;
}
#main-exitos .btn-group .btn {
  font-family: "Alegreya";
  font-size: 18px;
}
#main-exitos .exitosos {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#main-exitos .exitosos .juegoExitosos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
}
#main-exitos .exitosos .juegoExitosos1 div {
  height: 100%;
}
#main-exitos .exitosos .juegoExitosos1 div img {
  border-top-left-radius: 15px;
  width: 100%;
  height: 100%;
}
#main-exitos .exitosos .juegoExitosos1 .relleno-juegos {
  width: 50%;
  margin-right: 15px;
}
#main-exitos .exitosos .juegoExitosos1 .relleno-juegos h4 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#main-exitos .exitosos .juegoExitosos1 .relleno-juegos p {
  font-family: "Roboto Condensed";
  text-align: center;
  color: black;
  font-size: 23px;
  margin-top: 30px;
}
#main-exitos .accordion {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#main-exitos .accordion .accordion-item {
  width: 100%;
}
#main-exitos .accordion .accordion-item .accordion-header button {
  height: 20px;
  background-color: white;
}
#main-exitos .accordion .accordion-item .accordion-collapse {
  height: 730px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .accordion-abajo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .accordion-abajo div {
  width: 40%;
  margin-top: 40px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .accordion-abajo div .titulos-subAccordion {
  color: black;
  font-weight: bold;
  font-family: "Roboto Condensed";
  font-size: 16px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .accordion-abajo div .parrafos-subtitos {
  margin-top: -10px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .img-abajo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
#main-exitos .accordion .accordion-item .accordion-collapse .img-abajo img {
  width: 30%;
  padding: 0px 12px;
}
#main-exitos .relleno-juegos1 {
  width: 50%;
  margin-right: 15px;
}
#main-exitos .relleno-juegos1 h4 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#main-exitos .relleno-juegos1 p {
  font-family: "Roboto Condensed";
  text-align: center;
  color: black;
  font-size: 23px;
  margin-top: 30px;
}
#main-exitos .accordion-collapse .video-abajo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
#main-exitos .accordion-collapse .video-abajo iframe {
  width: 30%;
  padding: 0px 12px;
}
#main-exitos .exitosos3 {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#main-exitos .exitosos3 .juegoExitosos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.13);
}
#main-exitos .exitosos3 .juegoExitosos1 div {
  height: 100%;
}
#main-exitos .exitosos3 .juegoExitosos1 div img {
  border-top-left-radius: 15px;
  width: 100%;
  height: 100%;
}
#main-exitos .exitosos3 .juegoExitosos1 .relleno-juegos {
  width: 50%;
  margin-right: 15px;
}
#main-exitos .exitosos3 .juegoExitosos1 .relleno-juegos h4 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#main-exitos .exitosos3 .juegoExitosos1 .relleno-juegos p {
  font-family: "Roboto Condensed";
  text-align: center;
  color: black;
  font-size: 23px;
  margin-top: 30px;
}

main .logosPlataformas {
  margin-top: 50px;
  margin-left: 820px;
}
main .logosPlataformas a {
  padding: 0px 4px;
}
main .consolaPc1 {
  width: 40%;
  margin-top: 30px;
  margin-left: 120px;
}
main .consolaPc1 .xbox p {
  color: white;
  font-size: large;
}
main .consolaPc1 .xbox img {
  width: 100%;
}
main .consolaPc2 {
  width: 40%;
  margin-top: -570px;
  margin-left: 970px;
}
main .consolaPc2 .epic p {
  color: white;
  font-size: large;
}
main .consolaPc2 .epic img {
  width: 100%;
  margin-top: 30px;
}
main .consolaPc3 {
  width: 40%;
  margin-top: 80px;
  margin-left: 120px;
}
main .consolaPc3 .steam p {
  color: white;
  font-size: large;
}
main .consolaPc3 .steam img {
  width: 100%;
}

main #proximamente {
  background-image: url("https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_656/b_white/f_auto/q_auto/ncom/software/switch/70010000063714/2ac2500b2aae03a57bfe8cc4b41a1225305f043f9346f1bf0c4b6e78d81efebb");
  width: 640px;
  height: 320px;
  margin-left: 340px;
}
main #proximamente .textoJuegoNintendo1 {
  color: white;
  margin-top: 100px;
  margin-right: -350px;
  padding-top: 10px;
  padding-left: 660px;
}
main #proximamente2 {
  background-image: url("https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_656/b_white/f_auto/q_auto/ncom/software/switch/70010000005308/f57f2d528fc32fd3780981575d15545e0c64a82bd764d55aa3f77716102e0cc6");
  width: 640px;
  height: 320px;
  margin-top: 150px;
  margin-left: 850px;
}
main #proximamente2 .textoJuegoNintendo2 {
  color: white;
  margin-top: 100px;
  margin-left: -450px;
  padding-right: 660px;
}
main #proximamente3 {
  background-image: url("https://nintenduo.com/wp-content/uploads/2023/05/Mortal-Kombat-1-Switch-01.webp");
  background-size: cover;
  width: 640px;
  height: 320px;
  margin-top: 200px;
  margin-left: 640px;
}
main #proximamente3 .textoJuegoNintendo3 {
  color: white;
  padding-top: 330px;
}
@media (max-width: 576px) {
  main #proximamente {
    width: 100%;
    height: 200px;
    margin-left: 0px;
    background-size: cover;
  }
  main #proximamente .textoJuegoNintendo1 {
    margin-left: 0px;
    margin-top: 100px;
    padding-top: 230px;
    font-size: small;
  }
  main #proximamente2 {
    width: 100%;
    height: 200px;
    margin-left: 0px;
    background-size: cover;
  }
  main #proximamente2 .textoJuegoNintendo2 {
    margin-left: 0px;
    margin-top: 100px;
    padding-top: 230px;
    font-size: small;
  }
  main #proximamente3 {
    width: 100%;
    height: 200px;
    margin-left: 0px;
    background-size: cover;
  }
  main #proximamente3 .textoJuegoNintendo3 {
    margin-left: 0px;
    margin-top: 100px;
    padding-top: 230px;
    font-size: small;
  }
}

main .subtitulo {
  color: #fdc6c1;
  font-size: 30px;
  margin-left: 70px;
  margin-top: 70px;
}
main div .textsobreNost {
  color: white;
  text-align: start;
  font-family: "Alegreya";
  font-size: 20px;
  width: 800px;
  margin-left: 70px;
}
main .borrador {
  color: white;
  margin-left: 800px;
  margin-top: 100px;
}
main .pruebadeForo {
  margin-top: 50px;
  margin-left: 600px;
}
@media (max-width: 576px) {
  main .subtitulo {
    margin-left: 20px;
  }
  main div .textsobreNost {
    font-size: 15px;
    width: 100%;
    margin-left: 0px;
  }
  main .borrador {
    margin-left: 60px;
    margin-top: 100px;
  }
  main .pruebadeForo {
    width: 100%;
    margin-top: 300px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=app.css.map */
