main{
    .logosPlataformas{
        margin-top: 50px;
        margin-left: 820px;
        a{
            padding: 0px 4px;
        }
    }
    .consolaPc1{
        width: 40%;
        margin-top: 30px;
        margin-left: 120px;
        .xbox{
            p{
                color: white;
                font-size: large;
            }
            img{
                width: 100%;
            }
        }
    }
    .consolaPc2{
        width: 40%;
        margin-top: -570px;
        margin-left: 970px;
        .epic{
            p{
                color: white;
                font-size: large;                
            }
            img{
                width: 100%;
                margin-top: 30px;
            }
        }
    }
    .consolaPc3{
        width: 40%;
        margin-top: 80px;
        margin-left: 120px;
        .steam{
            p{
                color: white;
                font-size: large;
            }
            img{
                width: 100%;
            }
        }
    }
    // @include mediaquery-mobile(){
    //     .logosPlataformas{
    //         margin-top: 50px;
    //         margin-left: 80px;
    //     }
    //     .consolaPc1{
    //         width: 100%;
    //         margin-top: 30px;
    //         margin-left: 0px;
    //         .xbox{
    //             p{
    //                 text-align: center;
    //                 font-size: small;
    //             }
                
    //         }
    //     }
    //     .consolaPc2{
    //         width: 100%;
    //         margin-top: 30px;
    //         margin-left: 0px;
    //         .epic{
    //             p{
    //                 text-align: center;
    //                 font-size: small;
    //             }
    //             img{
    //                 margin-top: 0px;
    //             }
                
    //         }
    //     }
    //     .consolaPc3{
    //         width: 100%;
    //         margin-top: 30px;
    //         margin-left: 0px;
    //         .steam{
    //             p{
    //                 text-align: center;
    //                 font-size: small;
    //             }
    //             img{
    //                 margin-top: 0px;
    //             }
                
    //         }
    //     }

    // }
}