/* Error: Undefined mixin.
 *    ,
 * 23 | /     @include mediaquery-mobile(){
 * 24 | |         h3{
 * 25 | |             font-size: 30px;
 * 26 | |         }
 * 27 | |         
 * 28 | \     }
 *    '
 *   scss\layout\main.scss 23:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 23 \2502  \250c      @include mediaquery-mobile(){\a 24 \2502  \2502          h3{\a 25 \2502  \2502              font-size: 30px;\a 26 \2502  \2502          }\a 27 \2502  \2502          \a 28 \2502  \2514      }\a    \2575 \a   scss\\layout\\main.scss 23:5  root stylesheet";
}
