footer{
    background-color: rgb(25, 1, 1);    
    width: 100%;
    grid-area: footer; 
        section{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
                p{
                    color: $color-Principal;
                } 
                div{
                    margin-left: 400px;
                    img{
                        filter: invert(100%) sepia(5%) saturate(361%) hue-rotate(212deg) brightness(116%) contrast(87%);
                        width: 26px;
                        padding: 0px 4px;
                        align-items: center;  
                    }
                }
        }
        .footerInicio{
            img{
                width: 30px;
            }
        }
        @each $redes in instagram, twitter, facebook{
            a.#{$redes}{
                background: url(../imagenes/#{$redes}.png);
            }
        }
        @include mediaquery-mobile(){
            font-size: 10px;
            section{
                display: flex;
                flex-direction: row;
                justify-content:center;
                p{
                    margin-top: 10px;
                    margin-bottom: 0px;
                }
                div{
                    margin-left: 50px;
                    margin-top: 8px;
                    img{
                        width: 20px;
                        text-align: center;
                    }
                }
            }
        }

}